@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* forms */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

/* Admin css*/

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    width: 18%;
    height: 100%;
    color: #e1ffff;
    margin-top: -20px;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: block;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul li a {
    color: white;
    text-decoration: none;
}

.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

/* Fix dropdown for bootstrap 3.0 */
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}
/* Center div*/

.center_div{
    margin: 0 auto;
    width:80%;
}

/* User css*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
/* Orders css*/
.history_wrapper{float:left; width:100%; display:block; box-shadow:0 0 5px #aaa;}

.history_header,.history_body{float:left; width:100%;}

.history_list{float:left; width:100%; border-top:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.3); padding:0px 5px;}

.history_header .history_header_product{float:left; width:40%; padding:0 10px; font-size:20px; text-align:left; }

.history_header .history_header_stt{float:left; width:20%; padding:0 10px; font-size:20px; text-align:left; }

.history_header .history_header_content{float:left; width:60%; padding:0 10px; font-size:20px; text-align:center; }

.history_header .history_header_quantity{float:left; width:20%; padding:0 10px; font-size:20px; text-align:left; }

.history_header .history_header_size{float:left; width:20%; padding:0 10px; font-size:20px; text-align:left; }

.history_header .history_header_action{float:left; width:20%; padding:0 10px; font-size:20px; text-align:right; }

.history_header .history_header_date{float:left; width:20%; padding:0 10px; font-size:20px; text-align:left; }

.history_item_name{text-align:left; width:40%; float:left;}

.history_item_name span.item_name{float:left; width:100%; padding:10px 0px;}

.history_item_quantity,.history_item_size{float:left; width:20%;}

.history_item_content{float:left; width:60%; text-align:center;}

.history_item_stt{float:left; width:20%;}

.history_item_action{float:left; width:20%; text-align:right;}


.history_item_quantity span.item_quantity,.history_item_size span.item_size{ text-align:left; padding:10px 0; float:left; width:100%;}

.history_item_date{float:left; width:20%;}

.history_item_date span.item_date{float:left; width:100%;}

.history_list_footer{float:left; width:100%;border-top:1px solid rgba(0,0,0,0.2); padding:10px 0px;}

.history_list_footer .label{float:left;}

.histroy date{float:left; font-weight:600;}

.histroy_total{float:right;}

.display_50 {
    width: 50%
}
.display_10 {
    width: 10%
}
.display_5 {
    width: 5%
}
.display_20 {
    width: 20%
}

/* carts css*/

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.image_in_carts{
    height: 50px;
    width: 50px;
}

.image_in_admin{
    height: 100px;
    width: 100px;
}

.slide_product{
    height: 700px;
    width: 100%;
}

.center_div{
    margin: 0 auto;
    width:80%;
}

/* User css*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
/* Orders css*/
.history_wrapper{float:left; width:100%; display:block; box-shadow:0 0 5px #aaa;}

.history_header,.history_body{float:left; width:100%;}

.history_list{float:left; width:100%; border-top:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.3); padding:0px 5px;}

.history_header .history_header_quantity{float:left; width:20%; padding:0 10px; font-size:20px; text-align:center; }

.history_header .history_header_size{float:left; width:20%; padding:0 10px; font-size:20px; text-align:center; }

.history_header .history_header_date{float:left; width:20%; padding:0 10px; font-size:20px; text-align:center; }

.history_item_name{text-align:left; width:40%; float:left;}

.history_item_name span.item_name{float:left; width:100%; padding:10px 0px;}

.history_item_quantity,.history_item_size{float:left; width:20%;}

.history_item_quantity span.item_quantity,.history_item_size span.item_size{ text-align:center; padding:10px 0; float:left; width:100%;}

.history_item_date{float:left; width:20%;}

.history_item_date span.item_date{float:left; width:100%;}

.history_list_footer{float:left; width:100%;border-top:1px solid rgba(0,0,0,0.2); padding:10px 0px;}

.history_list_footer .label{float:left;}

.histroy date{float:left; font-weight:600;}

.histroy_total{float:right;}

.display_50 {
    width: 50%
}
.display_10 {
    width: 10%
}
.display_5 {
    width: 5%
}
.display_20 {
    width: 20%
}
.display_80 {
    width: 80%
}

/* carts css*/

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.image_in_carts{
    height: 50px;
    width: 50px;
}

.image_in_admin{
    height: 100px;
    width: 100px;
}

.slide_product{
    height: 700px;
    width: 100%;
}
.image_in_about{
    height: 260px;
    width: 450px;
}
.mr_20{
    margin: 0px 20px;
}
.btnCartProduct{}
.text-right{
  text-align: right;
}
.update_cart_form{}
.cart_list{}
.cart_total{}
.cart_mini_top{}
